<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    Hi Rownak
    <button onclick="redirectToNewPage()">github authentication</button>
    <script>
      function redirectToNewPage() {
        window.location.href =
          "https://github.com/login/oauth/authorize?client_id=d5b95d8748c0153c494c&redirect_uri=http://localhost:8080/callback/&state=12&scope=repo";
      }
    </script>
  </body>
</html>
